button {
        color:white;
        background-color:grey;
        border-radius: 0.8ex;
        padding:0.8ex;
        font-size:2.5ex;
        }

canvas {
        background-color:white;
        border-radius: 0.8ex;
        margin:0.8ex;
        }

body   {background-color:rgb(236,236,236);
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        }